:root{
    --primary: rgb(83, 83, 173);
    --secondary: lightblue;
}

*{
    color:var(--primary);
}

header{
    height: 10vh;
    background-color: var(--primary);
}

header h1{
    background-color: var(--secondary);
    width:30%;
    margin:0 10px;
}

span{
    color:var(--primary);
    margin:20px
}

a{
    color:var(--secondary)
}

header nav{
    text-align: right;
}

header nav ul li{
    display: inline;
    margin-right:10px;
}

h1{
    font-size:300%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    margin: 25px 50px;
    line-height:25px;
}

.title{
    flex-basis:20%;
    border-right:10px solid var(--primary);
    text-align: center;
    margin: 20px 0;
}

.content{
    flex-basis:80%;
    display: flex;
    flex-wrap: wrap;
}

.smaller-picture{
    flex-basis:50%;
    border:1px solid plum;
    height: 20vh;
}

#hero{
    height: 20vh;
    text-align: center;
    border-bottom: 5px solid var(--primary);
}

#hero img{
    max-width: 100px;
    margin-top: 25px;
}

#aboutme{
    height: 30vh;
    display:flex;
    flex-wrap: wrap;
}

#AboutH1{
    margin-top: 75px;
}

#work{
    height: 150vh;
    display:flex;
    flex-wrap: wrap;
}

#WorkH1{
    margin-top: 500px;
}

#contactinfo{
    height: 20vh;
    display:flex;
    flex-wrap: wrap;
}

#ContactH1{
    margin-top:50px;
}

#bigger-picture{
    flex-basis:100%;
    border:1px solid orange;
    height: 60%;
    margin-top: 5%;
}