:root{
    --primary: rgb(83, 83, 173);
    --secondary: lightblue;
}

*{
    color:var(--primary);
}

header{
    height: 10vh;
    background-color: black;
}

header h1{
    width:30%;
    margin:0 10px;
}

header h1 span{
    color:turquoise;
}

header nav{
    text-align: right;
}

header nav ul li{
    display: inline;
    margin-right:10px;
}

section {
    display:flex;
    flex-wrap: wrap;
}

span{
    color:var(--primary);
    margin:20px
}

a{
    color:var(--secondary)
}

h1{
    font-size:300%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    margin: 25px 50px;
    line-height:25px;
}

.title{
    flex-basis:20%;
    border-right:10px solid var(--primary);
    text-align: center;
    margin: 20px 0;
}

.content{
    flex-basis:80%;
    display: flex;
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.content ul{
    display:flex;
    flex-wrap: wrap;
}

.content ul li{
    font-size: 200%;
    display: inline;
    margin: 50px;
}

.content ul li a{
    color:var(--primary);
}

.horiseon{
    background-image: url("./image/Horiseon.PNG");
    justify-content:stretch;
    background-repeat: no-repeat;
    flex-basis:50%;
    height: 20vh;
}

.smaller-picture{
    flex-basis:50%;
    height: 20vh;
    background-image: url(./image/ComingSoon.png);
    background-repeat: no-repeat;
}

#hero{
    height: 20vh;
    text-align: center;
    border-bottom: 5px solid var(--primary);
    background-image: url(./image/hero-bg.png);
}

#hero img{
    max-width: 100px;
    margin-top: 25px;
}

#hero figcaption {
    color:white;
}

#aboutme{
    height: 30vh;
    display:flex;
    flex-wrap: wrap;
}

#AboutH1{
    margin-top: 75px;
}

#work{
    height: 150vh;
    display:flex;
    flex-wrap: wrap;
}

#WorkH1{
    margin-top: 500px;
}

#contactinfo{
    height: 20vh;
    display:flex;
    flex-wrap: wrap;
}

#ContactH1{
    margin-top:50px;
}

#bigger-picture{
    flex-basis:100%;
    margin-top:5%;
    height: 60%;
    background-image: url("./image/GitHub.jpg");
}

@media screen and (max-width: 768px) {  
    span, .smaller-picture, #hero img, #hero figcaption{
        display:none;
    }
    p{
        font-size:10%;
        margin:20px 0 0 10px;
        line-height: 10px;
    }
    .horiseon{
        flex-basis:100%;
    }
    #bigger-picture, .horiseon{
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .horiseon h1{
        font-size:100%;
    }
    .title{
        font-size:25%;
    }
    #ContactList{
        height:25vh;
        font-size:25%;
    }
}